# .gitignore --- Git untracked files -*- mode: gitignore; -*-

# nix: ignore build result
/result

# std: ignore .cache and .data directory
/.cache/
/.data/

# nixago: ignore-linked-files
/.conform.yaml
/.editorconfig
/.sops.yaml
/book.toml
/lefthook.yml
/treefmt.toml

# nixago-auto-created: mdbook-build-folder
/result-book/**
