# .gitignore --- Git untracked files -*- mode: gitignore; -*-

# nix: ignore build result
/result
/result-*

# std: ignore .cache directory
/.cache/

# nixago: ignore-linked-files
/.conform.yaml
/.editorconfig
/.sops.yaml
/lefthook.yml
/treefmt.toml
