# .gitignore --- Git untracked files -*- mode: gitignore; -*-

# nix: ignore build result
/result/**/*

# std: ignore per-project directories
/.bin/**/*
/.cache/**/*
/.config/**/*
/.data/**/*
/.run/**/*

# nixago: ignore-linked-files
/.conform.yaml
/.editorconfig
/.sops.yaml
/book.toml
/lefthook.yml
/treefmt.toml

# nixago-auto-created: mdbook-build-folder
/result-book/**/*
